@media (min-width:320px){
    .form{
    min-width: 210px;
    max-width: 450px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.label{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

}
.input{
    width:100%;
    height: 30px;
    border-radius: 10px;
    border:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(228, 227, 227);
    padding:5px;
    padding-left: 15px;
}
.buttonSubmit{
    width: 100%;
    height: 40px;
    padding: 0;
    border: 1px solid rgba(113, 103, 204, 0.569);
    background-color: rgba(134, 125, 215, 0.494);
    border-radius: 10px;
    cursor: pointer;
   margin-top: 40px;
}}
@media (min-width:768px){
.form {
        min-width: 210px;
        width: 450px;
        gap: 15px;

    }
}